SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/opt/zabbix/cloudwatch/cron.d
# ELB monitoring
*/5 * * * * root cron.ELB.sh "<Load_Balancer_Name>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# EBS monitoring
*/5 * * * * root cron.EBS.sh "<Volume_Id>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# DynamoDB monitoring
*/5 * * * * root cron.DynamoDB.sh "<DynnamoDB_Table_Name>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# RDS monitoring
*/5 * * * * root cron.RDS.sh "<RDS_Instance_Name>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# RedShift monitoring
*/5 * * * * root cron.RedShift.sh "<RedShift_Cluster_Identifier>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# CloudFront monitoring
*/5 * * * * root cron.CloudFront.sh "<Distribution_ID>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# ElastiCache monitoring
*/5 * * * * root cron.ElastiCache.sh "<Cluster_ID>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# SQS monitoring
*/5 * * * * root cron.SQS.sh "<Queue_Name>" "SQSMainQueue" <zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null
*/5 * * * * root cron.SQS.sh "<Queue_Name>" "SQSDeadLetterQueue" <zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# SNS monitoring
*/5 * * * * root cron.SNS.sh "<Topic_Name>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null

# Lambda monitoring
*/5 * * * * root cron.Lambda.sh "<Lambda_Function>" "<zabbix_host>" "<zabbix_server or zabbix_proxy>" "<aws_account>" "<aws_region>" &>/dev/null
